body {
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    margin: 0 1% !important;
    flex: 1 0 21% !important;
}

.cardFormSelect {
    align-self: flex-end;
    padding: 0.67em 0;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
}

.headerWrapper .MuiInput-formControl {
    padding: 0.67em 0;
}